@import "styles/utils";

.select {
  position: relative;
  color: #3A4374;
  background: #F7F8FD;
  border-radius: 5px;

  &.open {
    outline: #4661E6 solid 1px;

    .overlay {
      display: block;
    }

    .arrowIcon {
      transform: rotateZ(-180deg);
    }

    .listWrapper {
      max-height: 9999px;
      transition: max-height 0.3s;
    }
  }

  .valueWrapper {
    display: flex;
  }

  .label, .value {
    font-size: 13px;
    line-height: 19px;

    @include media(">tablet") {
      font-size: 15px;
      line-height: 22px;
    }
  }

  .value {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px 15px 16px;
    cursor: pointer;

    @include media(">tablet") {
      padding: 13px 24px;
    }

    .arrowIcon {
      margin-left: 4px;
      transition: transform 0.3s;

      path {
        stroke: #4661E6;
      }
    }
  }

  .listWrapper {
    position: absolute;
    top: calc(100% + 24px);
    left: 0;
    width: 100%;
    min-width: 255px;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.35);
    border-radius: 10px;
    z-index: 1;

    .list {
      min-width: 255px;
      list-style: none;
      background: #FFFFFF;

      .item {
        position: relative;
        font-size: 16px;
        line-height: 23px;
        color: #647196;
        padding: 12px 24px;
        cursor: pointer;

        &:not(:first-child)::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: #3A4374;
          opacity: 0.15;
          content: "";
        }

        &.selected {
          &::after {
            position: absolute;
            top: 0;
            right: 24px;
            width: 16px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            content: url("/icons/icon-check.svg");
          }
        }
      }
    }
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
