@import "styles/utils";

.navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #647196;

  &.dark {
    color: #FFFFFF;

    .icon path {
      stroke: #FFFFFF;
    }
  }

  .leftSide {
    display: flex;
    flex-direction: column;

    .goBackButton {
      display: flex;
      gap: 16px;
      align-items: center;
      font-weight: 700;
      font-size: 13px;
      line-height: 19px;
      color: inherit;
      background: transparent;
      border: none;
      cursor: pointer;
      margin-bottom: 3px;

      @include media(">tablet") {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 4px;
      }
    }

    .title {
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.25px;

      @include media(">tablet") {
        font-size: 24px;
        line-height: 35px;
        letter-spacing: -0.33px;
      }
    }
  }
}
