
.labelWrapper {
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 16px;

  .label {
    font-weight: 700;
    letter-spacing: -0.181px;
    color: #3A4374;
    margin-bottom: 3px;
  }

  .description {
    color: #647196;
  }
}
