@import "styles/utils";

.main {
  padding-bottom: 88px;

  @include media(">tablet") {
    padding-top: 56px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;

    @include media(">tablet") {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      padding-top: 32px;
    }
  }

  .navigatorWrapper {
    min-height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #373F68;

    @include media(">tablet") {
      min-height: 113px;
      border-radius: 10px;
      padding: 27px 32px;
    }
  }

  .mobileHidden {
    display: none;

    @include media(">tablet") {
      display: block;
    }
  }

  .tab {
    @include media(">tablet") {
      display: none;
    }
  }

  .addFeedbackButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 134px;
    min-height: 40px;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #F2F4FE;
    background: #AD1FEA;
    border-radius: 10px;

    @include media(">tablet") {
      min-width: 158px;
      min-height: 44px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
