@import "styles/utils";

.deleteWrapper {
  @include media(">tablet") {
    flex: 1;
  }

  .deleteButton {
    width: 100%;
    background: #D73737;
    cursor: pointer;

    @include media(">tablet") {
      width: initial;
    }
  }
}
