
.suggestionBar {
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #F2F4FE;
  background: #373F68;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .select {
    background: #373F68;
    color: #F2F4FE;
    padding-left: 0;
    outline: none !important;

    .value {
      color: #F2F4FE;
      padding: 0;

      svg path {
        stroke: #FFFFFF !important;
      }
    }
  }

  .addFeedbackButton {
    min-width: 134px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #F2F4FE;
    background: #AD1FEA;
    border-radius: 10px;
    cursor: pointer;
  }
}
