@import "styles/utils";

.replayForm {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;

  @include media(">tablet") {
    align-items: flex-start;
    flex-direction: row;
  }

  .textarea {
    @include media(">tablet") {
      flex: 1;
    }

    textarea {
      min-height: 80px;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;

    .postReplyButton {
      font-weight: 700;
      font-size: 13px;
      line-height: 19px;
      color: #F2F4FE;
      background: #AD1FEA;
      border-radius: 10px;
      border: none;
      padding: 10.5px 16px;
      cursor: pointer;

      @include media(">tablet") {
        min-width: 117px;
        min-height: 44px;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
