@import "styles/utils";

.main {
  padding-bottom: 88px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;

    @include media(">tablet") {
      gap: 40px;
      padding-top: 56px;
    }

    @include media(">desktop") {
      max-width: 540px;
    }
  }
}
