@import "styles/utils";

.textareaWrapper {
  display: flex;
  flex-direction: column;

  &.error {
    .textarea {
      outline: 1px solid #D73737 !important;
    }

    .errorBox {
      display: block;
    }
  }

  .textarea {
    width: 100%;
    min-height: 120px;
    background: #F7F8FD;
    font-size: 13px;
    line-height: 19px;
    color: #3A4374;
    border-radius: 5px;
    border: none;
    padding: 16px 24px 16px 16px;
    resize: none;


    @include media(">tablet") {
      font-size: 15px;
      line-height: 22px;
      padding: 16px 23px 16px 23px;
    }

    &:focus {
      outline: 1px solid #4661E6;
    }
  }

  .errorBox {
    display: none;
    font-size: 14px;
    line-height: 20px;
    color: #D73737;
    margin-top: 4px;
  }
}
