
.feedbackCard {
  font-size: 13px;
  line-height: 19px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 24px;

  &.displayStatus {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 6px;
      background: var(--status-color);
      border-radius: 5px 5px 0px 0px;
      content: "";
    }

    .status {
      display: block;
    }
  }

  .status {
    display: none;
    position: relative;
    font-size: 13px;
    line-height: 19px;
    color: #647196;
    text-transform: capitalize;
    padding-left: 16px;
    margin-bottom: 16px;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 8px;
      height: 8px;
      background: var(--status-color);
      transform: translateY(-50%);
      border-radius: 50%;
      content: "";
    }
  }

  .title {
    font-weight: 700;
    letter-spacing: -0.181px;
    color: #3A4374;
    margin-bottom: 9px;
  }

  .description {
    color: #647196;
    margin-bottom: 8px;
  }

  .categoryContainer {
    display: flex;

    .category {
      font-weight: 600;
      color: #4661E6;
      background: #F2F4FF;
      border-radius: 10px;
      padding: 5px 16px 5px;
      text-transform: capitalize;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    .upvoteButton {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      min-width: 69px;
      min-height: 32px;
      font-weight: 700;
      letter-spacing: -0.181px;
      color: #3A4374;
      background: #F2F4FE;
      border-radius: 10px;
      border: none;
      cursor: pointer;

      .icon {
        width: 8px;
      }
    }

    .commentCountContainer {
      display: flex;
      gap: 4px;
      font-weight: 700;
      text-align: center;
      letter-spacing: -0.181px;
      color: #3A4374;

      .commentCount {
        width: 18px;
        height: 19px;

        &.zero {
          opacity: 0.5;
        }
      }
    }
  }
}
