@import "styles/utils";

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  min-height: 600px;
  height: 100vh;
  overscroll-behavior: contain;
  overflow: scroll;
  padding-bottom: 32px;

  @include media(">tablet") {
    position: relative;
    top: 0;
    display: block;
    width: initial;
    height: initial;
    min-height: initial;
    overflow: auto;
    padding-bottom: 0;
  }

  @include media(">desktop") {
    overflow: visible;
  }

  @keyframes slideInLeft {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 600px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    @include media(">tablet") {
      display: none;
    }
  }

  &.open {
    display: block;

    .container {
      animation: slideInLeft 0.8s ease-in-out both;
      -webkit-animation: slideInLeft 0.8s ease-in-out both;
      -moz-animation: slideInLeft 0.8s ease-in-out both;
    }
  }

  .container {
    position: absolute;
    top: 0;
    right: 0;
    width: 271px;
    min-height: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: #F7F8FD;
    padding-top: 24px;

    @include media(">tablet") {
      position: relative;
      width: initial;
      min-height: initial;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      padding-top: 0;
    }

    @include media(">desktop") {
      display: flex;
      gap: 24px;
    }
  }

  .categoryContainer, .roadmapBox {
    background: #FFFFFF;
    border-radius: 10px;
  }

  .categoryContainer {
    display: flex;
    gap: 14px 8px;
    flex-wrap: wrap;
    padding: 24px 18px 36px 24px;

    @include media(">desktop") {
      padding: 24px;
    }

    button {
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      color: #4661E6;
      background: #F2F4FF;
      border-radius: 10px;
      border: none;
      padding: 5px 16px 6px 16px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #CFD7FF;
      }

      &.active {
        color: #FFFFFF;
        background: #4661E6;
      }
    }
  }

  .roadmapBox {
    display: flex;
    flex-direction: column;
    padding: 19px 24px 24px 24px;
    gap: 24px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.25px;
        color: #3A4374;
      }

      .viewLink {
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #4661E6;
        transition: color 0.3s;

        &:hover {
          color: #8397F8;
        }
      }
    }

    .roadmapContainer {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #647196;

        .name {
          display: flex;
          align-items: center;
          gap: 16px;
          font-size: 16px;
          line-height: 23px;

          &::before {
            width: 8px;
            height: 8px;
            background: var(--circle-color);
            border-radius: 50%;
            content: "";
          }
        }

        .count {
          font-weight: 700;
          font-size: 16px;
          line-height: 23px;
          text-align: right;
        }
      }
    }
  }

  .signinButton {
    width: 100%;
    min-height: 40px;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    background: #3A4374;
    color: #F2F4FE;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #656EA3;
    }

    @include media(">tablet") {
      display: none;
      min-height: 44px;
      font-size: 14px;
      line-height: 20px;
    }

    @include media(">desktop") {
      display: block;
    }
  }
}
